[submodule "lpac"]
	path = lpac
	url = https://github.com/estkme-group/lpac.git
[submodule "pysim"]
	path = pysim
	url = https://github.com/osmocom/pysim.git
[submodule "tlsfuzzer"]
	path = tlsfuzzer
	url = https://github.com/tlsfuzzer/tlsfuzzer.git
	branch = master
[submodule "tlslite-ng"]
	path = tlslite-ng
	url = https://github.com/tlsfuzzer/tlslite-ng.git
	branch = master
[submodule "liboqs"]
	path = third_party/liboqs
	url = https://github.com/open-quantum-safe/liboqs.git
	branch = main
